/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
h2 {
  font-size: 56px;
}
h3,
p {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
hr {
  width: 100%;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Oswald', sans-serif;
  margin: auto;
  text-align: center;
  width: 90%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 90px;
  width: 50%;
  margin-left: 50%;
  /* form */
}
nav .button {
  background-color: darkgrey;
}
nav .section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  background-color: darkgrey;
}
nav .section2 {
  background-color: red !important;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 90%;
  margin-left: 20px;
}
nav .sec2-left {
  width: 23%;
}
nav .sec2-right {
  width: 23%;
}
nav .bottom-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 20px;
  margin-top: 30px;
}
nav .bottom-section p {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
nav footer {
  background-color: darkgrey;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
nav form {
  display: inline-block;
  text-align: center;
  width: 30%;
  margin-left: 30%;
  padding-top: 30px;
  padding-left: 20px;
  overflow-x: hidden;
}
nav form > :last-child {
  margin-bottom: 0;
}
nav form > .fields {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 3em);
  margin: -1.5em 0 2em -1.5em;
}
nav form > .fields > .field {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 1.5em 0 0 1.5em;
  width: calc(100% - 1.5em);
}
nav form > .fields > .field.half {
  width: calc(50% - 0.75em);
}
nav form > .fields > .field.third {
  width: calc(100%/3 - 0.5em);
}
nav form > .fields > .field.quarter {
  width: calc(25% - 0.375em);
}
